.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.store-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

input[type="range"] {
  width: 100%;
  margin-top: 20px;
}

.store-item.discounted {
  background-color: #ffeeba; /* Couleur de fond spéciale pour les articles en promotion */
}

.discounted-price {
  font-weight: bold;
  color: red; /* Couleur du prix réduit */
  margin-right: 10px;
}

.original-price {
  text-decoration: line-through; /* Prix initial barré */
  color: #999; /* Couleur du prix initial */
}


img {
  max-width: 500px;
}